body {
    background-color: #f4f4f4;
}

.card {
    margin: 15px;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    height: 300px;
    object-fit: cover;
}